<{include file="Views/Header.html"}>

<div id="center_col">
<div id="sections-header">
  <div class="overview">
  </div>
  <div class="search">
    <form method="post">
      <{include file="Views/Widget/ServersId.html"}>
      日期：<{include file="Views/Widget/SearchTime.html"}>
    </form>
  </div>
</div>

<div id="content">
<table class="dtable tablesorter" style="width:100%;">
<thead>
<tr>
  <th>充值日期</th>
  <th>当日充值元宝</th>
  <th>后台邮件发送元宝</th>
  <th>当日消耗元宝<img src="imgs/q.gif" title="百分比为：当日消耗/当日充值"/></th>
  <th>元宝库存总量（截至当天）</th>
  <th>积分库存总量（截至当天）</th>
</tr>
</thead>
<tbody>

<tr>

  <td>2011-01-06</td>
  <td>34250</td>
  <td></td>
  <td>53662（157%）</td>
  <td>375847</td>
  <td>0</td>
</tr>
<tr>

  <td>2011-01-06</td>
  <td>34250</td>
  <td></td>
  <td>53662（157%）</td>
  <td>375847</td>
  <td>0</td>
</tr>

<tr>

  <td>2011-01-06</td>
  <td>34250</td>
  <td></td>
  <td>53662（157%）</td>
  <td>375847</td>
  <td>0</td>
</tr>
<tr>

  <td>2011-01-06</td>
  <td>34250</td>
  <td></td>
  <td>53662（157%）</td>
  <td>375847</td>
  <td>0</td>
</tr><tr>

  <td>2011-01-06</td>
  <td>34250</td>
  <td></td>
  <td>53662（157%）</td>
  <td>375847</td>
  <td>0</td>
</tr>
<tr>

  <td>2011-01-06</td>
  <td>34250</td>
  <td></td>
  <td>53662（157%）</td>
  <td>375847</td>
  <td>0</td>
</tr>
</tbody>
</table>
{$page}

</div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>