<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>战场ID</th>
                <th>1阵营塔死掉的数量</th>
                <th>2阵营塔死掉的数量</th>
                <th>1阵营水晶剩余血量</th>
                <th>2阵营水晶剩余血量</th>
                <th>1阵营胜利，2阵营胜利，3平局)</th>
                <th>比赛时长</th>
                <th>参与人数</th>
                <th>玩家死亡次数</th>
                <th>阵营1塔剩余血量</th>
                <th>阵营2塔剩余血量</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['room_key']}</td>
                <td>{$d['tower1']}</td>
                <td>{$d['tower2']}</td>
                <td>{$d['crystal1']}</td>
                <td>{$d['crystal2']}</td>
                <td>{$d['win_state']}</td>
                <td>{$d['ac_time']}</td>
                <td>{$d['joinnum']}</td>
                <td>{$d['die_time']}</td>
                <td>{$d['tower_list1']}</td>
                <td>{$d['tower_list2']}</td>
                <td><{echo getDateStr($d['time'])}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>