<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                <!--玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>-->
                <!--角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>-->
                <!--时间：<{include file="Views/Widget/SearchTime.html"}>-->
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>key1</th>
                <th>key2</th>
                <th>活动世界等级</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['key1']}</td>
                <td>{$d['key2']}</td>
                <td>{$d['act_wlv']}</td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>