<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>玩家KEY</th>
                <th>玩家昵称</th>
                <th>操作类型</th>
                <th>消耗的金钱</th>
                <th>得到的金钱</th>
                <th>得到的经验</th>
                <th>下次免费金钱祈福时间</th>
                <th>剩余金钱祈福次数</th>
                <th>当前金钱祈福最大次数</th>
                <th>剩余经验祈福次数</th>
                <th>当前经验祈福最大次数</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['pkey']}</td>
                <td>{$d['pname']}</td>
                <td><{if $d['type'] == 1}>免费金钱祈福<{/if}><{if $d['type'] == 2}>金钱祈福<{/if}><{if $d['type'] == 3}>经验祈福<{/if}></td>
                <td>{$d['cost_money']}</td>
                <td>{$d['get_money']}</td>
                <td>{$d['get_exp']}</td>
                <td>{$d['next_free_time']}</td>
                <td>{$d['money_res_times']}</td>
                <td>{$d['money_max_times']}</td>
                <td>{$d['exp_res_times']}</td>
                <td>{$d['exp_max_times']}</td>
                <td><{echo getDateStr($d['time'])}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>