<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>玩家KEY</th>
                <th>玩家昵称</th>
                <th>活动id</th>
                <th>轮次</th>
                <th>商品id</th>
                <th>消费类型(0 铜钱 1 元宝 2 绑元 3 道具)</th>
                <th>消费铜钱</th>
                <th>消费元宝</th>
                <th>消费绑元</th>
                <th>消费道具</th>
                <th>获得物品</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['pkey']}</td>
                <td>{$d['pname']}</td>
                <td>{$d['act_id']}</td>
                <td>{$d['times_id']}</td>
                <td>{$d['item_id']}</td>
                <td>{$d['cost_type']}</td>
                <td>{$d['cost_coin']}</td>
                <td>{$d['cost_gold']}</td>
                <td>{$d['cost_bgold']}</td>
                <td>{$d['cost_goods']}</td>
                <td>{$d['goods_list']}</td>
                <td><{echo getDateStr($d['time'])}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>