<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>时间</th>
                <th>玩家名</th>
                <th>玩家KEY</th>
                <th>玩家区服</th>
                <th>注册渠道</th>
                <th>注册时间</th>
                <th>当日充值额</th>
                <th>等级</th>
                <th>战力</th>
                <th>当日为止的累计充值</th>
                <th>当前VIP等级</th>
                <th>坐骑星级</th>
                <th>坐骑等级</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <th>{$d['time']}</th>
                <td>{$d['pname']}</td>
                <td>{$d['pkey']}</td>
                <td>{$d['sn']}</td>
                <td>{$d['pf']}</td>
                <td>{$d['reg_time']}</td>
                <td>{$d['today_recharge']}</td>
                <td>{$d['lv']}</td>
                <td>{$d['cbp']}</td>
                <td>{$d['recharge']}</td>
                <td>{$d['vip_lv']}</td>
                <td>{$d['mount_star']}</td>
                <td>{$d['mount_lv']}</td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>