<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                帮派key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                帮派名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                状态：<input type="text" name="kw_state" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>公会key</th>
                <th>公会姓名</th>
                <th>秘境ID</th>
                <th>秘境等级</th>
                <th>秘境经验</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>当前状态 1 开启 2 已通关</th>
                <th>参与Pkey列表</th>
                <th>参与人数</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['guild_key']}</td>
                <td>{$d['guild_name']}</td>
                <td>{$d['secret_id']}</td>
                <td>{$d['secret_lv']}</td>
                <td>{$d['secret_exp']}</td>
                <td><{echo getDateStr($d['start_time'])}></td>
                <td><{echo getDateStr($d['end_time'])}></td>
                <td>{$d['state']}</td>
                <td>{$d['enter_list']}</td>
                <td>{$d['enter_num']}</td>
                <td><{echo getDateStr($d['time'])}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>