<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><{include file="Views/Header.html"}>

        <div id="center_col">
            <div id="sections-header">
                <div class="overview">
                </div>
                <div class="search">
                    <form method="post">
                        <{include file="Views/Widget/ServersId.html"}>
                        时间：<{include file="Views/Widget/SearchTime.html"}>
                        <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
                    </form>
                </div>
            </div>
            <div id="content">
                <table class="dtable tablesorter" style="width:100%;">
                    <thead>
                    <tr>
                        <th>类型(1结婚2离婚)</th>
                        <th>玩家1KEY</th>
                        <th>玩家1昵称</th>
                        <th>玩家2KEY</th>
                        <th>玩家2昵称</th>
                        <th>结婚类型</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <tbody>

                    <{foreach $data as $d}>
                    <tr>
                        <td>{$d['type']}</td>
                        <td>{$d['pkey1']}</td>
                        <td>{$d['nickname1']}</td>
                        <td>{$d['pkey2']}</td>
                        <td>{$d['nickname2']}</td>
                        <td>{$d['marry_type']}</td>
                        <td><{echo getDateStr($d['time'])}></td>
                    </tr>
                    <{/foreach}>

                    </tbody>
                </table>
                {$page}

            </div>
        </div>
        <!-- end center_col  -->
        <{include file="Views/Footer.html"}>
    </title>
</head>
<body>

</body>
</html>