<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>玩家KEY</th>
                <th>玩家昵称</th>
                <th>坐骑ID</th>
                <th>升级前经验</th>
                <th>升级后经验</th>
                <th>升级前等级</th>
                <th>升级后等级</th>
                <th>消耗的物品</th>
                <th>增加的总经验</th>
                <th>操作类型</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['pkey']}</td>
                <td>{$d['pname']}</td>
                <td>{$d['obj_id']}</td>
                <td>{$d['before_exp']}</td>
                <td>{$d['after_exp']}</td>
                <td>{$d['before_lv']}</td>
                <td>{$d['after_lv']}</td>
                <td>{$d['cost_goods']}</td>
                <td>{$d['add_all_exp']}</td>
                <td><{if $d['up_type'] == 1}>手动吞噬<{/if}><{if $d['up_type'] == 2}>挂机吞噬<{/if}></td>
                <td><{echo getDateStr($d['time'])}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>