<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="{$req_params['kw_key']}" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="{$req_params['kw_name']}" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>时间</th>
                <th>玩家昵称</th>
                <th>玩家KEY</th>
                <th>玩家区服</th>
                <th>注册渠道</th>
                <th>注册时间</th>
                <th>等级</th>
                <th>战力</th>
                <th>单次充值额度</th>
                <th>充值入口</th>
                <th>vip等级</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td><{echo getDateStr($d['time'])}></td>
                <td>{$d['pname']}</td>
                <td>{$d['pkey']}</td>
                <td>{$d['sn']}</td>
                <td>{$d['pf']}</td>
                <td><{echo getDateStr($d['create_time'])}></td>
                <td>{$d['lv']}</td>
                <td>{$d['cbp']}</td>
                <td>{$d['charge_val']}</td>
                <td>{$d['from']}</td>
                <td>{$d['vip_lv']}</td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>