<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>玩家KEY</th>
                <th>玩家昵称</th>
                <th>消耗的元宝</th>
                <th>之前的成长值</th>
                <th>之后的成长值</th>
                <th>当前的比率</th>
                <th>来源</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['pkey']}</td>
                <td>{$d['pname']}</td>
                <td>{$d['cost_gold']}</td>
                <td>{$d['before_up_value']}</td>
                <td>{$d['after_up_value']}</td>
                <td>{$d['current_ratio']}</td>
                <td><{echo isset($this->consume_type[$d['cost_from']]) ?  $this->consume_type[$d['cost_from']] : 'undefine_'.$d['cost_from'];}></td>
                <td><{echo getDateStr($d['time'])}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>