<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                玩家key：<input type="text" name="kw_key" value="" style="width:80px;" class="txtinput"/>
                角色名：<input type="text" name="kw_name" value="" style="width:80px;" class="txtinput"/>
                时间：<{include file="Views/Widget/SearchTime.html"}>
                <input class="btn" style="padding: 6px; width:80px " type="submit" name="download" value="导出日志">
            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>
            <tr>
                <th>玩家key</th>
                <th>玩家姓名</th>
                <th>活动ID</th>
                <th>日期</th>
                <th>骰子点数</th>
                <th>消耗物品</th>
                <th>消耗元宝</th>
                <th>得到物品</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>

            <{foreach $data as $d}>
            <tr>
                <td>{$d['pkey']}</td>
                <td>{$d['pname']}</td>
                <td>{$d['act_id']}</td>
                <td>{$d['zero']}</td>
                <td>{$d['dice_num']}</td>
                <td>{$d['cost_goods']}</td>
                <td>{$d['price']}</td>
                <td>{$d['goods_list']}</td>
                <td><{echo getDateStr($d['time'],'Y-m-d')}></td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>