<{include file="Views/Header.html"}>
<div id="center_col">
  <div id="sections-header">
    <div class="overview">{$title}</div>
  </div>

  <div id="content">
    <{include file="Views/Widget/Message.html"}>
    <form method="post" action="?m=SMP_User_PasswdEdit&do=edit_password" onsubmit="return checkit(this);">
    <input type="hidden" name="edit_id" value="{$show_id}" />
    <table class="dtable" style="width:100%;">
      <tbody>
      <tr>
        <td class="txtright" width="120">旧密码：</td>
        <td><input type="password" class="txtinput" id="old_passwd" name="u[old_passwd]" value="" onblur="checkold_passwd(this);"/><span id="checkend" ></span></td>
      </tr>
      <tr>
        <td class="txtright">新密码：</td>
        <td><input type="password" class="txtinput" name="u[passwd]" value="" /></td>
      </tr>
      <tr>
        <td class="txtright">确认新密码：</td>
        <td><input type="password" class="txtinput" name="u[passwd2]" value="" /></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input name="submit" type="submit" value=" 提交 " class="btn" />
          <input name="back" onclick="javascript:history.go(-1);" type="button" value=" 返回 " class="btn" />
          <span style="color:red;font-size:10px;">成功修改密码后将重新登录！</span>
        </td>
      </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>
<script type="text/javascript">
  function checkold_passwd(input){
	  if($.trim(input.value) == ''){
		  input.focus();
		  return false;
	  }
	  
	  $.ajax({
		  type: "GET",
		  url: "?m=SMP_User_PasswdEdit&do=check_old_password",
		  data: "old_pw="+$.trim(input.value),
		  datatype: "json",
		  error:function(){
		  	alert("ajax error!");
		  },
		  success: function(json){
			  json = eval("(" + json + ")");
			  if(!json.status){
				  input.focus();
				  $("#checkend").css({"color":"red","font-size":"10px"}).html(json.data);
				  return false;
			  }
			  else{
				  $("#checkend").css({"color":"green","font-size":"10px"}).html(json.data);
				  return true;
			  } 
		  }
	  });
  }
	
  function checkit(form)
  {
	var msg = [];
    if(!$.trim($(form['u[old_passwd]']).val()))
      msg.push('旧密码不能为空！');

    if($.trim($(form['u[passwd]']).val()) == '')
      msg.push('新密码不能为空！');
    
    if($.trim($(form['u[passwd]']).val()).length < 8)
      msg.push('新密码长度必须为8位或以上！');

    if($.trim($(form['u[passwd]']).val()) != '')
    {
      if($.trim($(form['u[passwd]']).val()) != $.trim($(form['u[passwd2]']).val()))
        msg.push('新密码不一致');
    }
    
    if(msg.length > 0)
    {
      alert(msg.join("\n"));
      return false;
    }
    return true;
  }
</script>
<{include file="Views/Footer.html"}>