<{include file="Views/Header.html"}>

<div id="center_col">
<div id="sections-header">
  <div class="overview">
     <span style="color: red">紙醉金迷</span> 帮会贡献事件
  </div>
  <div class="search">
  <input class="btn" style="padding: 6px " type="button" name="back" value="返回" onclick="location.href='?m=SMP_Guild_List';">
  </div>
</div>

<div id="content">
<table class="dtable tablesorter" style="width:100%;">
<thead>
<tr>
	<th>编号</th>
    <th>内容</th>
    <th>时间</th>
</tr>
</thead>
<tbody>


<tr >
	<td>1</td>
    <td>JasonTH 给帮会捐献了 50000 铜钱</td>
    <td>2012-07-11 21:30:33</td>   
</tr>

<tr >
	<td>2</td>
    <td>幻想V破灭 给帮会捐献了 50000 铜钱</td>
    <td>2012-07-09 22:02:31</td> 
</tr>

</tbody>
</table>
{$page}

</div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>