<{include file="Views/Header.html"}>

<div id="center_col">
<div id="sections-header">
  <div class="overview">
     <span style="color: red">紙醉金迷</span> 帮会成员列表
  </div>
  <div class="search">
  <input class="btn" style="padding: 6px " type="button" name="back" value="返回" onclick="location.href='?m=SMP_Guild_List';">
  </div>
</div>

<div id="content">
<table class="dtable tablesorter" style="width:100%;">
<thead>
<tr>
	<th>服务器标识</th>
	<th>玩家key</th>
	<th>角色名</th>
	<th>等级</th>
	<th>职务</th>
	<th>战斗力</th>
	<th>帮会贡献</th>
	<th>贡献铜币</th>
	<th>贡献元宝</th>
	<th>最后登录时间</th>
</tr>
</thead>
<tbody>


<tr >
	<td>4399_mhfx_1</td>
    <td>214577</td>                 
    <td>ghjdfg</td>
    <td>60</td>
    <td>弟子</td>
    <td>7824</td>
    <td>242</td>
    <td>0</td>
    <td>0</td>
    <td>2012-07-12 14:28:47</td> 
</tr>

<tr >
	<td>4399_mhfx_1</td>
    <td>215948</td>                 
    <td>黑涩丨灰熊</td>
    <td>54</td>
    <td>弟子</td>
    <td>4278</td>
    <td>227</td>
    <td>0</td>
    <td>0</td>
    <td>2012-07-11 19:54:54</td> 
</tr>

</tbody>
</table>
{$page}

</div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>