<{include file="Views/Header.html"}>

<div id="center_col">
<div id="sections-header">
  <div class="overview">
     <span style="color: red">紙醉金迷</span>  帮会技能列表
  </div>
  <div class="search">
  <input class="btn" style="padding: 6px " type="button" name="back" value="返回" onclick="location.href='?m=SMP_Guild_List';">
  </div>
</div>

<div id="content">
<table class="dtable tablesorter" style="width:100%;">
<thead>
<tr>
	<th>技能名称</th>
    <th>技能等级</th>
    <th>技能效果</th> 
</tr>
</thead>
<tbody>

<tr>               
    <td>攻击强化</td>
    <td>16</td>                    
    <td>增加320点攻击</td>                    
</tr>
<tr>
    <td>气血强化</td>
    <td>14</td>                    
    <td>增加1500点气血</td>                    
</tr>
<tr>
    <td>防御强化</td>
    <td>11</td>                    
    <td>增加240点防御</td>                    
</tr>
<tr>
    <td>命中强化</td>
    <td>9</td>                    
    <td>增加21点命中</td>                    
</tr>
<tr>
    <td>躲闪强化</td>
    <td>3</td>                    
    <td>增加9点躲闪</td>                    
</tr>
<tr>
    <td>暴击强化</td>
    <td>9</td>                    
    <td>增加21点暴击</td>                    
</tr>
<tr>
    <td>坚韧强化</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>眩晕抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>睡眠抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>遗忘抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>石化抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>嘲讽抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>封印抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>
<tr>
    <td>中毒抵抗</td>
    <td>0</td>                    
    <td>未激活</td>                    
</tr>

</tbody>
</table>
{$page}

</div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>