<{include file="Views/Header.html"}>

<div id="center_col">
<div id="sections-header">
  <div class="overview">
     <span style="color: red">紙醉金迷</span> 帮会仓库
  </div>
  <div class="search">
  <input class="btn" style="padding: 6px " type="button" name="back" value="返回" onclick="location.href='?m=SMP_Guild_List';">
  </div>
</div>

<div id="content">
<table class="dtable tablesorter" style="width:100%;">
<thead>
<tr>
	<th>编号</th>
    <th>基础物品ID</th>
    <th>物品名称</th>                    
    <th>物品品质</th>                                       
    <th>强化等级</th>
    <th>物品数量</th>
</tr>
</thead>
<tbody>


<tr >
	<td>6737</td>
    <td>33028</td>                    
    <td>许愿币</td>
    <td>蓝色</td>
    <td>-1</td>
    <td>19</td>   
</tr>

<tr >
	<td>6738</td>
    <td>10758</td>                    
    <td>古剑龙牙【五阶】</td>
    <td>绿色</td>
    <td>0</td>
    <td>1</td>  
</tr>

</tbody>
</table>
{$page}

</div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>