<{include file="Views/Header.html"}>

<div id="center_col">
    <div id="sections-header">
        <div class="overview">
        </div>
        <div class="search">
            <form method="post">
                <{include file="Views/Widget/ServersId.html"}>
                角色名称：<input type="text" name="kw_rname" value="{$params['nickname']}" style="width:80px;" class="txtinput"/>
                英雄ID：<input type="text" name="kw_gkey" value="{$params['gkey']}" style="width:80px;" class="txtinput"/> 
            </select>
                <{include file="Views/Widget/SearchButton.html"}>

            </form>
        </div>
    </div>
    <div id="content">
        <table class="dtable tablesorter" style="width:100%;">
            <thead>

            <tr>
                <th>英雄Key</th>
                <th>玩家key</th>
                <th>角色名</th>
                <th>英雄ID</th>
                <th>英雄等级</th>
                <th>英雄经验</th>
                <th>英雄星级</th>
                <th>强化等级</th>
                <th>英雄战力</th>
                <th>技能点</th>
                <th>装备信息列表</th>
                <th>符文信息列表</th>
                <th>技能列表</th>
                <th>来源</th>
                <th>创建时间</th>
                <!--<th>操作</th>-->
            </tr>
            </thead>
            <tbody>
            <{foreach $data as $g}>
            <tr>
                <td>{$g['hkey']}</td>
                <td>{$g['pkey']}</td>
                <td><a target="_blank" href="?m=SMP_Player_Info&pkey={$g['pkey']}">{$g['nickname']}</a></td>
                <td>{$g['heroid']}</td>
                <td>{$g['lv']}</td>
                <td>{$g['exp']}</td>
                <td>{$g['star']}</td>
                <td>{$g['stren']}</td>
                <td>{$g['cbp']}</td>
                <td>{$g['spoint']}</td>
                <td>{$g['equipinfo_list']}</td>
                <td>{$g['sealinfo_list']}</td>
                <td>{$g['skill_list']}</td>
                <td>{$g['res']}</td>
                <td>{$g['time']}</td>
            </tr>
            <{/foreach}>

            </tbody>
        </table>
        {$page}

    </div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>