<{include file="Views/Header.html"}>

<div id="center_col">
<div id="sections-header">
  <div class="overview">
  	 总创建角色人数 / 总登录次数：<span style="color:red;">0</span> / <span style="color:red;">0</span>
  </div>
  <div class="search">
    <form method="post">
      <{include file="Views/Widget/ServersId.html"}>
      日期：<{include file="Views/Widget/SearchTime.html"}>
    </form>
  </div>
</div>



<div id="content">

<div style="border-bottom: 1px solid #EBEBEB;margin-bottom: 1.5em;padding: 0 1em;">
  <table class="dtable tablesorter" width="50%">
    <tr bgcolor="#ffffff" >
	  <td style="font-weight:bold;">各个阵营注册情况：</td>
	  <td>新手区</td>
	  <td>极乐宗</td>
	  <td>浩然盟</td>
	  <td colspan="2">魔尊门</td>
	</tr>
	<tr bgcolor="#f8f8f8" >
	  <td></td>
	  <td>0（0%）</td>
	  <td>0（0%）</td>
	  <td>0（0%）</td>
	  <td colspan="2">0（0%）</td>
	  
	</tr>
	<tr bgcolor="#ffffff">
	  <td style="font-weight:bold;">各个职业注册情况：</td>
	  <td>梵天</td>
	  <td>武尊</td>
	  <td>修罗</td>
	  <td>方士</td>
	  <td>金翎</td>
	</tr>
	<tr bgcolor="#f8f8f8" >
	  <td></td>
	  <td>0（0%）</td>
	  <td>0（0%）</td>
	  <td>0（0%）</td>
	  <td>0（0%）</td>
	  <td>0（0%）</td>
	</tr>
  </table>
</div>

<table class="dtable tablesorter" style="width:100%;">
<thead>
<tr>
  <th>日期</th>
  <th>登录人数</th>
  <th>注册人数</th>
  <th>0时</th>
  <th>1时</th>
  <th>2时</th>
  <th>3时</th>
  <th>4时</th>
  <th>5时</th>
  <th>6时</th>
  <th>7时</th>
  <th>8时</th>
  <th>9时</th>
  <th>10时</th>
  <th>11时</th>
  <th>12时</th>
  <th>13时</th>
  <th>14时</th>
  <th>15时</th>
  <th>16时</th>
  <th>17时</th>
  <th>18时</th>
  <th>19时</th>
  <th>20时</th>
  <th>21时</th>
  <th>22时</th>
  <th>23时</th>
</tr>
</thead>
<tbody>


<tr bgcolor="#ffffff" class="even">
  <td>2012-08-20</td>
  <td>4</td>
  <td>3</td>
  <td>0</td>
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
  <td>11</td>
  <td>12</td>
  <td>13</td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
  <td>18</td>
  <td>19</td>
  <td>20</td>
  <td>21</td>
  <td>22</td>
  <td>23</td>
</tr>
<tr bgcolor="#f8f8f8" class="odd">
<td>2012-08-19</td>
  <td>4</td>
  <td>3</td>
  <td>0</td>
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
  <td>11</td>
  <td>12</td>
  <td>13</td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
  <td>18</td>
  <td>19</td>
  <td>20</td>
  <td>21</td>
  <td>22</td>
  <td>23</td>
</tr>
<tr bgcolor="#ffffff" class="even">
  <td>2012-08-18</td>
  <td>4</td>
  <td>3</td>
  <td>0</td>
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
  <td>11</td>
  <td>12</td>
  <td>13</td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
  <td>18</td>
  <td>19</td>
  <td>20</td>
  <td>21</td>
  <td>22</td>
  <td>23</td>
</tr>
<tr bgcolor="#f8f8f8" class="odd">
  <td>2012-08-17</td>
  <td>4</td>
  <td>3</td>
  <td>0</td>
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
  <td>11</td>
  <td>12</td>
  <td>13</td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
  <td>18</td>
  <td>19</td>
  <td>20</td>
  <td>21</td>
  <td>22</td>
  <td>23</td>
</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
<tr bgcolor="#f8f8f8" class="odd">

</tr>
<tr bgcolor="#ffffff" class="even">

</tr>
</tbody>
</table>

</div>
</div>
<!-- end center_col  -->
<{include file="Views/Footer.html"}>